.Login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forget-password {
    margin-bottom: 30px;
    font-size: 15px;
    text-align: right;
}


.register-account a {
    text-decoration: none;
    color: #29BF89;
}