.Navbar{
    background-color: white;
    opacity: 0.9;
    padding: 0.2rem;
}

.Navbar img {
    width: 45px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 1.2em;
}

.nav-items a {
    margin-left: 1rem;
    text-decoration: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .avatar {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 39px;
    right:1; 
    background-color: #f1f1f1;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    margin-bottom: 10px;
}