.vstack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
}

.search-align {
    /* display: flex; */
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 2%;
}