#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 60px;
    margin-left: 25%;
}

.industry-dropdown {
    height: 50%;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-left: 300px;
}

.search-bar {
    height: 50%;
    /* margin-top: 2.5%; */
    margin: 0 10px;
    flex-grow: 1;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0;
}

.search input {
    margin: 0;
}

.search-btn {
    height: 50%;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    padding: 0 10px;
    max-width: 80px;
    margin-top: 0%;
}

.search-btn:hover {
    background-color: #e6e6e6;
}